body {
  font-family: "Montserrat", sans-serif;
}
.container-fluid {
  padding: 1% 5% 2%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
#title {
  background-color: #3fc1c9;
  color: white;
}
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}
.download {
  margin: 5% 3% 5% 0;
}
.welcomeImage {
  width: 300px;
  bottom: 150px;
  position: absolute;
}
@media (max-width: 1028px) {
  .welcomeImage {
    position: sticky;
  }
  #title {
    text-align: center;
  }
  .container-fluid {
    padding: 1% 5% 0;
  }
}
#features {
  padding: 10% 8%;
  background-color: white;
  position: relative;
}
.featurebox {
  padding: 0 65px;
}
.iconfeatures {
  color: #3fc1c9;
  margin: 20px;
}
.iconfeatures:hover {
  color: #139fa7;
}
h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.features-row {
  text-align: center;
}
p {
  color: #8f8f8f;
}
#testimonials {
  text-align: center;
  background-color: #3fc1c9;
  color: white;
}
h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #3fc1c9;
  text-align: center;
  padding-bottom: 3%;
}
.presslogo {
  width: 12%;
  margin: 0 30px;
}
.carousel-item {
  padding: 5% 15%;
}
#pricing {
  padding: 5% 8%;
  text-align: center;
}
.card {
  margin-bottom: 10px;
}
#cta {
  background-color: #3fc1c9;
  padding: 5% 8% 0;
  text-align: center;
}
.cta {
  font-size: 3rem;
  color: white;
}

#footer {
  padding: 5%;
  text-align: center;
}
.iconfooter {
  padding: 0px 10px 20px;
}
