body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: bold;
}
p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 1% 5% 2%;
}
.color-section {
  background-color: #3fc1c9;
  color: white;
}
.nocolor-section {
  background-color: white;
}

/*Title section*/
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#title {
  text-align: left;
}
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}
.download {
  margin: 5% 3% 5% 0;
}
.welcomeImage {
  width: 300px;
  bottom: 150px;
  position: absolute;
}
@media (max-width: 1028px) {
  .welcomeImage {
    position: sticky;
  }
  #title {
    text-align: center;
  }
  .container-fluid {
    padding: 1% 5% 0;
  }
}
/*Features section*/
#features {
  padding: 10% 8%;
  position: relative;
}
.featurestitle {
  font-size: 1.5rem;
}
.featurebox {
  padding: 0 65px;
}
.iconfeatures {
  color: #3fc1c9;
  margin: 20px;
}
.iconfeatures:hover {
  color: #139fa7;
}

/*Testimonials section*/
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  padding-bottom: 3%;
}
.presslogo {
  width: 12%;
  margin: 0 30px;
}
.carousel-item {
  padding: 5% 15%;
}
.testimonialtext {
  font-size: 3rem;
}
/*Price section*/
#pricing {
  padding: 5% 8%;
}
.sectionheading {
  font-size: 3rem;
}
.card {
  margin-bottom: 10px;
}
.pricetitle {
  font-size: 1.5rem;
}
.pricetext {
  font-size: 3rem;
}
/*CallToAction section*/
#cta {
  padding: 5% 8% 0;
}
.cta {
  font-size: 3rem;
}
/*Footer section*/
#footer {
  padding: 5%;
}
.iconfooter {
  padding: 0px 10px 20px;
}
